APScheduler==3.5.3
asn1crypto==0.24.0
backports.shutil-get-terminal-size==1.0.0
certifi==2019.9.11
chardet==3.0.4
Click==7.0
cryptography==2.1.4
decorator==4.1.2
enum34==1.1.6
Flask==1.1.1
funcsigs==1.0.2
futures==3.3.0
gyp==0.1
idna==2.8
ipaddress==1.0.17
ipython==5.5.0
ipython-genutils==0.2.0
itsdangerous==1.1.0
Jinja2==2.10.1
keyring==10.6.0
keyrings.alt==3.0
MarkupSafe==1.1.1
mysql-connector-python==2.1.6
mysql-utilities==1.6.4
paramiko==2.0.0
pathlib2==2.3.0
pexpect==4.2.1
pickleshare==0.7.4
prompt-toolkit==1.0.15
pyasn1==0.4.2
pycrypto==2.6.1
Pygments==2.2.0
pygobject==3.26.1
pyodbc==4.0.17
pysqlite==2.7.0
python-apt==1.6.4
pytz==2019.2
pyxdg==0.25
requests==2.22.0
scandir==1.7
SecretStorage==2.3.1
simplegeneric==0.8.1
six==1.12.0
traitlets==4.3.2
tzlocal==2.0.0
urllib3==1.26.5
wcwidth==0.1.7
Werkzeug==0.16.0